[submodule "client"]
	path = client
	url = git@github.com:tinker/tinker-client.git
[submodule "ui"]
	path = ui
	url = git@github.com:tinker/tinker-ui.git
[submodule "sandbox"]
	path = sandbox
	url = https://github.com/tinker/tinker-sandbox.git
[submodule "api"]
	path = api
	url = https://github.com/tinker/tinker-api.git
